/* Ryan Wahle */
/* MIU 1303   */
/* Project 4  */

label.error {
	display: block;
	margin: 10px 0;
	color: yellow;
}

#dialogValidateErrorLink {
	display: none;
}

.requiredField {
	color: yellow;
}

.linkHome {
	float: left;
    display: inline;
    
    height: 35px;
    width: 30px;
    
    margin-left: 5px;
    margin-top: 2px;
    
}